<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>encod</filter-name>
    <filter-class>filter.EncodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encod</filter-name>
    <url-pattern>*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ChooseCourseAction</display-name>
    <servlet-name>ChooseCourseAction</servlet-name>
    <servlet-class>action.ChooseCourseAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseCourseAction</servlet-name>
    <url-pattern>/ChooseCourseAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelChoCourse</display-name>
    <servlet-name>DelChoCourse</servlet-name>
    <servlet-class>action.DelChoCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelChoCourse</servlet-name>
    <url-pattern>/DelChoCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCourse</display-name>
    <servlet-name>GetCourse</servlet-name>
    <servlet-class>action.GetCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourse</servlet-name>
    <url-pattern>/GetCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSalaryInServlet</display-name>
    <servlet-name>GetSalaryInServlet</servlet-name>
    <servlet-class>action.GetSalaryInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSalaryInServlet</servlet-name>
    <url-pattern>/GetSalaryInServlet</url-pattern>
  </servlet-mapping>
</web-app>